@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url('https://images.staybook.in/contactUs.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Add any other background styles you need */
}